body{
    font-family:AriaL;
    margin:0;
    background:#f5f5f5;
}
.form{
    background-color: white;
    padding:20px;
    margin:20px;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    width:300px;
}
.form input {
    padding:10px;
    margin-bottom:10px;

}
.form button{
    padding:10px;
    background-color:#3498db;
    color:white;
    border:none;
}
