body{
    margin:0;
    font-family:'Times New Roman';
    background:#f5f6fa;
}
.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.card{
    background:white;
    padding:30px;
    width:330px;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
    text-align:center;
}
input{
    width:100%;
    padding:8px;
    margin:10px 0;

}
button{
    padding:10px;
    width:100%;
    background:#4a69bd;
    color:white;
    border:none;
    cursor:pointer;
}
.error{
    color:red;
    font-family:'Arial'
}
.container{
    padding:30px;
}